main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
  }
  
  .container{
    display: flex;
    flex-direction: column;
    background: rgb(43, 47, 48);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(10, 187, 22);
  }
  
  .title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    font: italic 2.5rem serif;
    border-bottom: solid 5px rgb(16, 169, 52);
    margin-bottom: 20px;
    color: rgb(10, 202, 42);
  }
  
  .input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    color: rgb(11, 194, 45);
    
  }
  .input input {
    width: 220px;
    height: 50px;
    border-radius: 5px;
    border:none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
    color: rgb(10, 187, 22);
  }

  
  .input label {
    font: italic 1.1rem serif;
    
  }
  
  button{
    width: 300px;
    height: 40px;
    font: bold 1.2rem serif;
    background: #f1eded;
    color: rgb(7, 207, 37);
    outline: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .result{
    display: flex;
    margin-top: 20px;
    align-items: justify;
    width: 350px;
    height: 150px;
    border-radius: 20px;
    font: italic 1.5rem serif;
    box-shadow: 0px 0px 10px black;
    background: #ebe7e7;
    color: rgb(15, 204, 53);
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
  }